* {
    box-sizing: border-box;
}

// fonts
@font-face {
    font-family: 'Roboto Light';
    src: url('../fonts/Roboto-Light.eot');
    src: local('Roboto Light'), local('Roboto-Light'),
        url('../fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Light.woff') format('woff'),
        url('../fonts/Roboto-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.eot');
    src: local('Roboto'), local('Roboto-Regular'),
        url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Regular.woff') format('woff'),
        url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Roboto Medium';
    src: url('../fonts/Roboto-Medium.eot');
    src: local('Roboto Medium'), local('Roboto-Medium'),
        url('../fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Medium.woff') format('woff'),
        url('../fonts/Roboto-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Bold';
    src: url('../fonts/Roboto-Bold.eot');
    src: local('Roboto Bold'), local('Roboto-Bold'),
        url('../fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Bold.woff') format('woff'),
        url('../fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Black';
    src: url('Roboto-Black.eot');
    src: local('Roboto Black'), local('Roboto-Black'),
        url('../fonts/Roboto-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Black.woff') format('woff'),
        url('../fonts/Roboto-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;

    font-family: 'Roboto', sans-serif;
}

//variables

$md1: 1367px;
$md2: 992.98px;
$md3: 768px;
$md4: 479.98px;


// helpers
.lock {
    overflow: hidden;
}

ul {
    padding: 0;
    margin: 0;
}

input {
    border: 0 !important;
    outline: none !important;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.page {
    flex: 1 0 auto;
}

.footer {
    flex: 0 0 auto;
}


.header {
    padding: 31px 0px 263px 0px;

    background: url(../img/header_bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    .header-row {
        align-items: baseline;
        @media (max-width: $md3){
            align-items: center;
            padding: 0 15px;
        }
    }

    .header__menu {
        position: absolute;
        left: -110%;

        @media(max-width: $md3) {
    
            position: fixed;
            width: 100%;
            height: 100%;
            top: 0;
            left: -110%;
            background: url(../img/about-bg.png);
            z-index: 2;
            padding: 80px 0px 0px 0px;
            transition: .3s linear;
    
            &.active {
                left: 0;
            }
        }
    }

    .header__logo {
        font-family: 'Roboto Bold', sans-serif;
        font-size: 36px;
        color: #fff;
        text-transform: uppercase;
        
        @media (max-width: $md3){
            font-size: 30px;
        }
        @media (max-width: $md4) {
            font-size: 25px;
        }
    }

    .nav {
        margin-left: 35px;

        @media (max-width: $md2){
                -ms-flex: 0 0 41.666667%;
                flex: 0 0 41.666667%;
                max-width: 41.666667%;
        }
        
    }

    .header__list {
        list-style: none;
        display: flex;

        li {
            margin: 0px 18px 0px 0px;

            a {
                position: relative;
                font-family: 'Roboto Medium', sans-serif;
                font-size: 16px;
                color: #fff;
                text-transform: uppercase;
                text-decoration: none;

                &:before {
                    content: '';
                    display: block;
                    width: 100%;
                    opacity: 0;
                    height: 1px;
                    background-color: white;
                    position: absolute;
                    bottom: -5px;
                    z-index: 1;
                    transform: translateY(10px);
                    transition: .4s ease-in-out;
                }
                &:after {
                    content: '';
                    display: block;
                    width: 100%;
                    opacity: 0;
                    height: 1px;
                    background-color: white;
                    position: absolute;
                    bottom: -5px;
                    z-index: 1;
                    transform: translateY(10px);
                    transition: .6s ease-in-out;
                }

                &:hover {
                    &:before, &:after {
                        opacity: 1;
                        transform: translateY(0);
                    }
                }
            }
            @media (max-width: $md3){
                margin: 10px 0px 0px 0px;
            }
        }
        @media (max-width: $md3){
            display: block;
            padding-left: 25px;
        }
    }

    .header__number {
        display: inline-block;
        position: relative;
        text-decoration: none;
        font-family: 'Roboto Medium', sans-serif;
        font-size: 16px;
        color: #fff;

        &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 1px;
            background-color: #fff;
            left: 0;
            bottom: 1px;
        }
    }
    
    .header__icon {
        display: none;
        position: relative;
        right: 5px;
        width: 30px;
        height: 25px;
        cursor: pointer;
        z-index: 5;
    
        span {
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: #fff;
    
            left: 0px;
            transition: .3s linear;
    
            &:nth-child(1) {
                top: 0px;
            }
    
            &:nth-child(2) {
                top: 8px;
            }
    
            &:nth-child(3) {
                bottom: 8px;
            }
    
        }
    
        &.active {
            span {
    
                &:nth-child(1) {
                    transform: rotate(45deg);
                    top: 8px;
                }
    
                &:nth-child(2) {
                    transform: rotate(-45deg);
                    bottom: 8px;
                }
    
                &:nth-child(3) {
                    display: none;
                }
            }
    
        }
    
        @media(max-width: $md3) {
            display: block;
        }
    
    
    }

    .header__btn {
        font-family: 'Roboto Bold', sans-serif;
        font-size: 16px;
        letter-spacing: 1px;
        display: inline-block;
        text-align: center;
        text-transform: uppercase;
        width: 165px;
        background: #da5353;
        background: linear-gradient(to left, #da4343, #db6565);
        color: #ffffff;
        padding: 14px 25px;
        border-radius: 6px;
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    }


    .header__content {
        margin: 190px 0px 0px 0px;
        text-align: center;

        .header__title {
            font-family: 'Roboto', sans-serif;
            font-size: 55px;
            color: #fff;
            text-transform: uppercase;

            @media (max-width: $md3){
                font-size: 28px;
            }
            @media (max-width: $md4) {
                font-size: 25px;
            }
        }

        .header__text {
            font-family: 'Roboto Light', sans-serif;
            font-size: 23px;
            text-transform: uppercase;
            color: #fff;
            max-width: 69%;
            margin: auto;
            @media (max-width: $md3){
                font-size: 18px;
            }
        }

        .header__content-btn {
            font-family: 'Roboto Bold', sans-serif;
            font-size: 16px;
            letter-spacing: 1px;
            display: inline-block;
            text-align: center;
            text-transform: uppercase;
            width: 250px;
            background: #da5353;
            background: linear-gradient(to left, #da4343, #db6565);
            color: #ffffff;
            padding: 14px 25px;
            border-radius: 6px;
            box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
            margin: 55px 0px 0px 0px;
        }

        @media (max-width: $md2){
            margin: 50px 0px 0px 0px;
        }
    }
    @media (max-width: $md3){
        .number, .head-btn {
            display: none;
        }
        .nav {
            position: absolute;
        }
        .header-row {
            justify-content: space-between;
        }
        padding-bottom: 100px;
    }

}   

.section-title {
    margin: 120px 0px 0px 0px;
    font-family: 'Roboto Medium', sans-serif;
    font-size: 30px;
    text-align: center;
    
    @media (max-width: $md3){
        margin-top: 25px;
    }
}

.advantages {
    padding: 0px 0px 100px 0px;

    .advantages-title {
        margin-bottom: 50px;
        @media (max-width: $md3){
            margin-bottom: 25px;
        }
    }

    .advantages__column {
        padding: 28px 22px 22px 22px;
        margin: 30px 0px 0px 0px;
        box-shadow: 10px 17px 20px 0px rgba(0, 0, 0, 0.25);
        text-shadow: 10px 17px 20px rgba(0, 0, 0, 0.25);

        img {
            display: block;
            margin: auto;
        }

        .advantages-title {
            font-family: 'Roboto Medium', sans-serif;
            text-align: center;
            font-size: 18px;
            color: #777777;
        }

    }

}

.about {
    padding: 60px 0px 84px 0px;

    background: url(../img/about-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    .about__title {
        font-family: 'Roboto Medium', sans-serif;
        color: #222222;
        font-size: 30px;
        margin: 0px 0px 28px 0px;
    }

    .about__text p {
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        color: #fff;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .about__wrapper {
        display: flex;
    }

    .about__wrapper-row {
        align-items: center;
    }

    .about__right {
        background-color: rgba(150, 190, 203, .4);
        padding: 28px 50px 30px 50px;
        text-align: center;
        box-shadow: 13px 15px 20px 0px rgba(0, 0, 0, 0.2);
        text-shadow: 13px 15px 20px rgba(0, 0, 0, 0.2);

        @media (max-width: $md3){
            margin-top: 20px;
        }
    }

    .about__form {
        input {
            width: 158px;
            border-radius: 7px;
            padding: 3px 15px;
            box-shadow: 13px 15px 20px 0px rgba(0, 0, 0, 0.2);
            text-shadow: 13px 15px 20px rgba(0, 0, 0, 0.2);

            &:first-child {
                margin-right: 20px;
            }

            @media (max-width: $md3){
                width: 100%;
                margin: 15px 0px;
            }
        }
    }

    .about__form-title {
        font-family: 'Roboto Medium', sans-serif;
        font-size: 18px;
        color: #333333;
        margin: 0px 0px 34px 0px;
    }

    .about__btn {
        font-family: 'Roboto Bold', sans-serif;
        font-size: 14px;
        color: #fff;
        width: 140px;
        padding: 10px 0px;
        border: none;
        background: linear-gradient(to left, #da4343, #db6565);
        border-radius: 6px;
        margin-top: 30px;
    }
}


.service {
    padding: 0px 0px 120px 0px;
    .service-title {
        color: black;
        margin-bottom: 60px;

        @media (max-width: $md3){
            margin-bottom: 25px;
        }
    }

    .service__column {
        cursor: pointer;
        text-align: center;
        box-shadow: 13px 15px 20px 0px rgba(0, 0, 0, 0.2);
        text-shadow: 13px 15px 20px rgba(0, 0, 0, 0.2);
        transition: all .3s linear;

        .service__column-title {
            padding: 50px 34px;
            min-height: 172px;
            font-family: 'Roboto Bold', sans-serif;
            font-size: 24px;
            text-transform: uppercase;
            color: #fff;
            background: url(../img/about-bg.png);

            @media (max-width: $md3){
                min-height: 110px;
                padding: 30px;
                font-size: 20px;
            }
        }

        .service__column-content {
            padding: 54px 0px 0px 0px;
        }

        .service__column-text {
            font-family: 'Roboto Bold', sans-serif;
            color: #777777;
            text-transform: uppercase;
            margin-bottom: 33px;
        }

        .service__column-btn {
            opacity: 0;
            visibility: hidden;
            position: relative;
            font-family: 'Roboto Bold', sans-serif;
            font-size: 16px;
            color: #fff;
            width: 140px;
            padding: 10px 0px;
            border: none;
            background: linear-gradient(to left, #da4343, #db6565);
            border-radius: 6px;
            margin-top: 30px;

            bottom: -20px;

            transition: all .3s linear;

            @media (max-width: $md3){
                visibility: visible;
                opacity: 1;
            }
        }

        &:hover {
            transform: translateY(-23px);

            .service__column-btn {
                opacity: 1;
                visibility: visible;
            }
        }

        @media (max-width: $md3){
            margin: 30px 0px;
        }
        
    }
}


.footer {
    background: url(../img/footer-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0px 0px 120px 0px;
    .footer-title {
        margin-bottom: 40px;
        @media (max-width: $md3){
            margin-bottom: 25px;
        }
    }

    .footer__contact {
        a {
            position: relative;
            display: flex;
            align-items: center;
            font-family: 'Roboto Medium', sans-serif;
            font-size: 16px;
            color: #fff;
            margin-bottom: 30px;
        }
        
        .footer__number {
            &:before {
                content: url(../img/icons/phone-call.png);
                margin-right: 15px;
            }
        }
        .footer__email {
            font-family: 'Roboto Bold', sans-serif;
            &:before {
                content: url(../img/icons/email.png);
                margin-right: 15px;
            }
        }
    }
}