@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;800&display=swap");
@font-face {
  font-family: Azonix;
  /* Гарнитура шрифта */
  src: url(../fonts/Azonix.otf);
  /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: Miama;
  /* Гарнитура шрифта */
  src: url(../fonts/miama.otf);
  /* Путь к файлу со шрифтом */
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  height: 100vh;
}

h1, h2, h3, h4, h5, h6, ul, li {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

.container {
  max-width: 1630px;
  width: 100%;
  margin: 0 auto;
}

@media (max-width: 1630px) {
  .container {
    max-width: 1170px;
  }
}

@media (max-width: 992.98px) {
  .container {
    max-width: 750px;
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: none;
  }
}

.tac {
  text-align: center;
}

.lock {
  overflow: hidden;
}

.mainMenu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100vh;
  display: none;
  overflow: auto;
}

.mainMenu.active {
  display: block;
  background: #fff;
}

.mainMenu__wrapper {
  padding: 80px 50px;
  min-height: 100%;
  height: 100vh;
}

@media (max-width: 992.98px) {
  .mainMenu__wrapper {
    padding: 60px 30px;
  }
}

@media (max-width: 767.98px) {
  .mainMenu__wrapper {
    padding: 20px 10px;
  }
}

.mainMenu__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767.98px) {
  .mainMenu__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.mainMenu__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15%;
}

@media (max-width: 992.98px) {
  .mainMenu__top {
    margin-bottom: 25%;
  }
}

@media (max-width: 767.98px) {
  .mainMenu__top {
    margin-bottom: 10%;
  }
}

@media (max-width: 374px) {
  .mainMenu__top {
    margin-bottom: 10px;
  }
}

.mainMenu__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mainMenu__column a {
  text-decoration: none;
  font-size: 18px;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  color: #929292;
  line-height: 36px;
  margin: 10px 0px;
  cursor: pointer;
}

@media (max-width: 1630px) {
  .mainMenu__column a {
    font-size: 16px;
  }
}

@media (max-width: 992.98px) {
  .mainMenu__column a {
    font-size: 14px;
  }
}

@media (max-width: 767.98px) {
  .mainMenu__column a {
    font-size: 12px;
    margin: 2px 0;
    line-height: 24px;
  }
}

@media (max-width: 992.98px) {
  .mainMenu__column {
    margin-left: 10px;
  }
}

@media (max-width: 767.98px) {
  .mainMenu__column {
    margin-bottom: 10px;
  }
}

.mainMenu__language {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
  padding: 0px 20px;
  position: absolute;
  bottom: 50px;
  left: 0;
}

@media (max-width: 374px) {
  .mainMenu__language {
    bottom: 10%;
    height: 40px;
  }
}

@media (max-width: 767.98px) {
  .mainMenu__language {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.mainMenu__language-main-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mainMenu__language-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainMenu__language-row a {
  text-decoration: none;
  text-transform: uppercase;
  color: #929292;
  cursor: pointer;
  padding: 5px;
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
}

.mainMenu__language-link {
  font-size: 9px;
  font-family: 'Montserrat', sans-serif;
  color: #212121;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  cursor: pointer;
  margin-left: 50%;
}

.btnClose {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-size: 16px;
  display: block;
  letter-spacing: .3em;
  cursor: pointer;
}

@media (max-width: 992.98px) {
  .btnClose {
    font-size: 14px;
  }
}

@media (max-width: 767.98px) {
  .btnClose {
    font-size: 12px;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 51px 107px 0px 87px;
  max-height: 905px;
  height: 100%;
  background: url(../img/bg.png);
  background-repeat: no-repeat;
}

@media (max-width: 992.98px) {
  .header {
    padding: 31px 87px 0px 87px;
  }
}

@media (max-width: 767.98px) {
  .header {
    padding: 15px 27px 0px 27px;
  }
}

.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  text-transform: uppercase;
  font-family: 'Azonix', sans-serif;
}

.header__logo span {
  display: block;
  font-weight: 600;
}

.header__logo .logo_up {
  font-size: 47px;
  line-height: 36px;
}

@media (max-width: 992.98px) {
  .header__logo .logo_up {
    font-size: 32px;
  }
}

@media (max-width: 767.98px) {
  .header__logo .logo_up {
    font-size: 22px;
  }
}

.header__logo .logo_down {
  font-size: 23px;
  letter-spacing: 2px;
}

@media (max-width: 992.98px) {
  .header__logo .logo_down {
    font-size: 18px;
  }
}

@media (max-width: 767.98px) {
  .header__logo .logo_down {
    font-size: 15px;
  }
}

.number {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 22px;
  font-family: 'Montserrat', sans-serif;
  color: black;
}

@media (max-width: 992.98px) {
  .number {
    font-size: 20px;
  }
}

@media (max-width: 767.98px) {
  .number {
    display: none;
  }
}

.language {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 70px;
  font-size: 22px;
  letter-spacing: 2px;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
}

.language span {
  cursor: pointer;
}

.language li a {
  text-decoration: none;
  color: black;
}

@media (max-width: 992.98px) {
  .language {
    margin-left: 25px;
    font-size: 18px;
  }
}

@media (max-width: 767.98px) {
  .language {
    display: none;
  }
}

.sub-language__list {
  position: absolute;
  width: 100%;
  background-color: #F5F5F5;
  left: 0;
  top: 80%;
  display: none;
}

.sub-language__list.active {
  display: block;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu-icon {
  margin-left: 47px;
  font-size: 22px;
  text-transform: uppercase;
  line-height: 36px;
}

.header__menu-icon span {
  font-family: 'Montserrat', sans-serif;
  color: black;
}

@media (max-width: 992.98px) {
  .header__menu-icon {
    margin-left: 27px;
  }
}

.menu-open {
  cursor: pointer;
  font-weight: 600;
}

@media (max-width: 992.98px) {
  .menu-open {
    font-size: 18px;
  }
  .menu-open img {
    width: 30px;
    height: 22px;
  }
}

@media (max-width: 767.98px) {
  .menu-open {
    font-size: 0;
  }
}

.arrows {
  position: absolute;
  width: 150px;
  z-index: 5;
  bottom: 15%;
  left: 10%;
  background-color: #e7e7e7;
  opacity: .7;
}

.arrows .arrows__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.arrows .arrows__row .arrows__left {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
  cursor: pointer;
}

.arrows .arrows__row .arrows__left:hover {
  background-color: #fff;
}

@media (max-width: 992.98px) {
  .arrows .arrows__row .arrows__left {
    padding: 5px;
  }
}

.arrows .arrows__row .arrows__right {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
  cursor: pointer;
}

.arrows .arrows__row .arrows__right:hover {
  background-color: #fff;
}

@media (max-width: 992.98px) {
  .arrows .arrows__row .arrows__right {
    padding: 5px;
  }
}

@media (max-width: 767.98px) {
  .arrows .arrows__row {
    display: none;
  }
}

.leftArrow {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  width: 20px;
  height: 25px;
}

.rightArrow {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  width: 20px;
  height: 25px;
}

.header {
  position: relative;
  z-index: 50;
}

.header_second {
  position: relative;
  width: 100%;
}

.header__bg4 {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center top;
     object-position: center top;
}

.header__bg5 {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center top;
     object-position: center top;
}

.header__bg6 {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center top;
     object-position: center top;
}

.suggestion__row {
  padding: 0px 50px;
}

@media (max-width: 992.98px) {
  .suggestion__row {
    padding: 0px 40px;
  }
}

@media (max-width: 767.98px) {
  .suggestion__row {
    padding: 0px 20px;
  }
}

.suggestion__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 0px 60px 0px;
}

@media (max-width: 1630px) {
  .suggestion__item {
    margin: 0px 0px 60px 0px;
  }
}

@media (max-width: 992.98px) {
  .suggestion__item {
    margin: 0px 0px 40px 0px;
  }
}

@media (max-width: 767.98px) {
  .suggestion__item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0px 0px 80px 0px;
  }
}

@media (max-width: 479.98px) {
  .suggestion__item {
    margin: 0px 0px 45px 0px;
  }
}

.suggestion__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.suggestion__img img {
  max-width: 100%;
  max-height: 100%;
}

@media (max-width: 767.98px) {
  .suggestion__img {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    margin-bottom: 10px;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}

.suggestion__title, .projects__titte {
  font-size: 30px;
  line-height: 36px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  margin: 50px 0px 50px 15px;
}

@media (max-width: 992.98px) {
  .suggestion__title, .projects__titte {
    margin: 35px 0px 35px 12px;
    font-size: 26px;
    line-height: 32px;
  }
}

@media (max-width: 992.98px) {
  .suggestion__title, .projects__titte {
    margin: 25px 0px 25px 10px;
    font-size: 24px;
    line-height: 30px;
  }
}

@media (max-width: 767.98px) {
  .suggestion__title, .projects__titte {
    margin: 10px 0px 10px 5px;
    font-size: 18px;
    line-height: 24px;
  }
}

.suggestion__right {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.suggestion__item-content {
  padding: 40% 21% 0px 11%;
}

@media (max-width: 992.98px) {
  .suggestion__item-content {
    padding: 35% 18% 0px 8%;
  }
}

@media (max-width: 767.98px) {
  .suggestion__item-content {
    padding: 0;
  }
}

.suggestion__item-title {
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: 32px;
  line-height: 36px;
  color: #2d2c2c;
}

@media (max-width: 1630px) {
  .suggestion__item-title {
    font-size: 28px;
    line-height: 32px;
  }
}

@media (max-width: 992.98px) {
  .suggestion__item-title {
    font-size: 24px;
    line-height: 30px;
  }
}

@media (max-width: 767.98px) {
  .suggestion__item-title {
    font-size: 20px;
    letter-spacing: 2px;
  }
}

.suggestion__item-subtitle {
  margin-top: 30px;
  font-family: 'Miama', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
}

@media (max-width: 1630px) {
  .suggestion__item-subtitle {
    font-size: 20px;
    line-height: 32px;
    margin-top: 24px;
  }
}

@media (max-width: 992.98px) {
  .suggestion__item-subtitle {
    font-size: 18px;
    line-height: 30px;
    margin-top: 16px;
  }
}

@media (max-width: 767.98px) {
  .suggestion__item-subtitle {
    font-size: 16px;
    margin-top: 10px;
  }
}

.projects__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -22.5px;
}

@media (max-width: 767.98px) {
  .projects__row {
    margin: 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.projects__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.33333%;
          flex: 0 1 33.33333%;
  padding: 0px 22.5px;
}

.projects__column img {
  width: 100%;
  max-width: 100%;
}

@media (max-width: 767.98px) {
  .projects__column {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    margin-bottom: 20px;
  }
}

.project__column-title {
  font-size: 24px;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  margin-top: 33px;
  margin-bottom: 10px;
}

@media (max-width: 1630px) {
  .project__column-title {
    font-size: 20px;
    margin-top: 28px;
  }
}

@media (max-width: 992.98px) {
  .project__column-title {
    font-size: 18px;
    margin-top: 25px;
    margin-bottom: 8px;
  }
}

.project__column-subtitle {
  font-size: 24px;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
}

@media (max-width: 1630px) {
  .project__column-subtitle {
    font-size: 20px;
  }
}

@media (max-width: 992.98px) {
  .project__column-subtitle {
    font-size: 18px;
  }
}

.aboutUs {
  font-family: 'Montserrat', sans-serif;
}

.aboutUs__wrapper {
  padding: 60px 78px 95px 60px;
}

@media (max-width: 1630px) {
  .aboutUs__wrapper {
    padding: 55px 73px 90px 55px;
  }
}

@media (max-width: 992.98px) {
  .aboutUs__wrapper {
    padding: 45px 65px 80px 45px;
  }
}

@media (max-width: 767.98px) {
  .aboutUs__wrapper {
    padding: 15px;
  }
}

.aboutUs__title {
  color: #2d2c2c;
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
}

@media (max-width: 992.98px) {
  .aboutUs__title {
    font-size: 26px;
  }
}

@media (max-width: 767.98px) {
  .aboutUs__title {
    font-size: 24px;
  }
}

.aboutUs__text {
  font-size: 22px;
  line-height: 36px;
  color: #2d2c2c;
  font-weight: 300;
}

@media (max-width: 1630px) {
  .aboutUs__text {
    font-size: 20px;
    line-height: 32px;
  }
}

@media (max-width: 992.98px) {
  .aboutUs__text {
    font-size: 18px;
    line-height: 28px;
  }
}

@media (max-width: 767.98px) {
  .aboutUs__text {
    font-size: 14px;
    line-height: 22px;
  }
}

.aboutUs__collection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 104px;
  font-family: 'Montserrat', sans-serif;
}

@media (max-width: 1630px) {
  .aboutUs__collection {
    margin: 0px 84px;
  }
}

@media (max-width: 992.98px) {
  .aboutUs__collection {
    margin: 0px 64px;
  }
}

@media (max-width: 767.98px) {
  .aboutUs__collection {
    margin: 0px 20px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.aboutUs__collection__left img {
  max-width: 100%;
  max-height: 100%;
}

.aboutUs__collection__right {
  padding: 10% 7% 8% 7%;
}

@media (max-width: 992.98px) {
  .aboutUs__collection__right {
    padding: 8% 5% 6% 5%;
  }
}

.aboutUs__collection-title {
  font-size: 24px;
  font-weight: 600;
}

@media (max-width: 1630px) {
  .aboutUs__collection-title {
    font-size: 20px;
  }
}

@media (max-width: 992.98px) {
  .aboutUs__collection-title {
    font-size: 20px;
  }
}

@media (max-width: 767.98px) {
  .aboutUs__collection-title {
    font-size: 18px;
  }
}

.aboutUs__collection-subtitle {
  font-size: 24px;
  color: #2d2c2c;
  line-height: 34px;
  margin-top: 10px;
}

@media (max-width: 1630px) {
  .aboutUs__collection-subtitle {
    font-size: 20px;
    line-height: 28px;
  }
}

@media (max-width: 992.98px) {
  .aboutUs__collection-subtitle {
    font-size: 20px;
    line-height: 22px;
  }
}

@media (max-width: 767.98px) {
  .aboutUs__collection-subtitle {
    font-size: 18px;
  }
}

.news {
  text-align: center;
  margin-top: 115px;
}

.news a {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  letter-spacing: 2px;
}

@media (max-width: 1630px) {
  .news {
    margin-top: 100px;
  }
}

@media (max-width: 992.98px) {
  .news {
    margin-top: 75px;
  }
}

@media (max-width: 767.98px) {
  .news {
    margin-top: 25px;
    font-size: 14px;
    margin-bottom: 25px;
  }
}

.footer {
  font-family: 'Montserrat', sans-serif;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto 5px 46px 5px;
}

@media (max-width: 992.98px) {
  .footer__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__nav a {
  text-decoration: none;
  color: #212121;
  padding: 0px 5px;
  letter-spacing: 2px;
  margin: 0px 10px;
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
}

@media (max-width: 1630px) {
  .footer__nav a {
    font-size: 12px;
  }
}

@media (max-width: 992.98px) {
  .footer__nav a {
    font-size: 10px;
  }
}

@media (max-width: 767.98px) {
  .footer__nav a {
    font-size: 10px;
    margin-bottom: 15px;
  }
}

@media (max-width: 992.98px) {
  .footer__nav {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

@media (max-width: 767.98px) {
  .footer__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer__id {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
}

@media (max-width: 992.98px) {
  .footer__id {
    display: none;
  }
}

@media (max-width: 767.98px) {
  .footer__id {
    font-size: 12px;
  }
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 992.98px) {
  .footer__social {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    margin-top: 20px;
  }
}

.footer__id_md3 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
  color: #212121;
  font-family: 'Montserrat', 'sans-serif';
  display: none;
}

@media (max-width: 992.98px) {
  .footer__id_md3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 10px;
  }
}

@media (max-width: 767.98px) {
  .footer__id_md3 {
    font-size: 10px;
  }
}

.footer__social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__social-link {
  text-decoration: none;
  display: block;
  width: 24px;
  height: 24px;
}

.footer__social-link img {
  width: 100%;
}

@media (max-width: 992.98px) {
  .footer__social-link {
    display: block;
  }
}

@media (max-width: 767.98px) {
  .footer__social-link {
    width: 20px;
    height: 20px;
  }
}

.btn {
  padding: 40px 105px;
  background: transparent;
  border: 1px solid #9c9c9c;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 32px;
  line-height: 36px;
  cursor: pointer;
}

@media (max-width: 1630px) {
  .btn {
    padding: 12px 60px;
    font-size: 30px;
  }
}

@media (max-width: 992.98px) {
  .btn {
    padding: 15px 35px;
    font-size: 16px;
  }
}

@media (max-width: 767.98px) {
  .btn {
    padding: 10px 25px;
    font-size: 12px;
  }
}

.home {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.category__name {
  font-size: 36px;
  line-height: 36px;
  font-family: 'Montserrat', sans-serif;
  margin: 0px 0px 50px 0px;
  text-transform: uppercase;
  font-weight: 300;
}

@media (max-width: 1630px) {
  .category__name {
    margin: 0px 0px 40px 0px;
    font-size: 32px;
  }
}

@media (max-width: 992.98px) {
  .category__name {
    margin: 0px 0px 10px 0px;
    font-size: 22px;
  }
}

@media (max-width: 767.98px) {
  .category__name {
    margin: 0px 0px 5px 0px;
    font-size: 18px;
  }
}

.category__wrapper {
  padding: 60px 200px;
}

@media (max-width: 1630px) {
  .category__wrapper {
    padding: 50px 180px;
  }
}

@media (max-width: 992.98px) {
  .category__wrapper {
    padding: 30px 120px;
  }
}

@media (max-width: 767.98px) {
  .category__wrapper {
    padding: 15px 20px;
  }
}

.category__buttons button:nth-child(2) {
  margin-left: 20px;
}

@media (max-width: 767.98px) {
  .category__buttons button:nth-child(2) {
    margin-left: 10px;
  }
}

.armchairs__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 120px;
}

@media (max-width: 992.98px) {
  .armchairs__row {
    margin-bottom: 40px;
  }
}

@media (max-width: 767.98px) {
  .armchairs__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 30px;
  }
}

.armchairs__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  text-align: center;
  margin: 0px 50px;
}

.armchairs__column img {
  max-width: 100%;
}

@media (max-width: 992.98px) {
  .armchairs__column {
    margin: 0px 0px 40px 0px;
  }
}

@media (max-width: 767.98px) {
  .armchairs__column {
    margin: 0px 0px 20px 0px;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

.armchairs__title {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

@media (max-width: 992.98px) {
  .armchairs__title {
    font-size: 12px;
  }
}

.armchairs__status {
  display: inline-block;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: 'Montserrat', sans-serif;
  padding: 4px;
  background-color: #dfdfdf;
  margin-top: 20px;
}

@media (max-width: 992.98px) {
  .armchairs__status {
    margin-top: 10px;
    font-size: 12px;
  }
}

.chairs__wrapper {
  display: none;
}
/*# sourceMappingURL=style.css.map */